@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <div>
        <p>
            <label>Name</label>
            <input type="text" name="name"/>
        </p>
        <p>
            <label>Email</label>
            <input type="email" name="email"/>
        </p>
        <p>
            <label>Subject</label>
            <select name="subject" id="subject" asp-for="subject">
                <option value="JS">JS</option>
                <option value="C#">C#</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="Основы">Основы</option>
            </select>
            <input type="text" name="subject"/>
        </p>
        <p>
            <label>Date</label><br />
            <input type="date" name="date"/>
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </div>
</form>